# Estruturas de Dados

In [26]:
# Listad de Listas: 

notas_turma = ['João', 8.0, 9.0, 10.0, 'Maria', 9.0, 7.0, 6.0, 'José', 3.4, 7.0, 7.0, \
               'Cláudia', 5.5, 6.6, 8.0, 'Ana', 6.0, 10.0, 9.5]

nomes = []
notas_juntas = []

for i in range(len( notas_turma )):
    if i % 4 == 0: # esses serão os nomes por conta da posição de todos os nomes que, são todas multiplas de 4 (0, 4, 8, 12, 16)
        nomes.append( notas_turma[i] )
    else:
        notas_juntas.append( notas_turma[i] )

notas_juntas

[8.0, 9.0, 10.0, 9.0, 7.0, 6.0, 3.4, 7.0, 7.0, 5.5, 6.6, 8.0, 6.0, 10.0, 9.5]

In [39]:
notas_aluno = []

for i in range( 0, len(notas_juntas), 3 ):
    notas_aluno.append([ notas_juntas[i], notas_juntas[i+1], notas_juntas[i+2] ])

print( notas_aluno )
print( notas_aluno[0][2] )

[[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
10.0

In [37]:
for i in range( 0, len(notas_aluno), 1 ):
    notas_aluno.append( nomes[i] )

notas_aluno # ** rever essa parte pra prozuir a saida nome [notas], nome [notas]

[[8.0, 9.0, 10.0],
 [9.0, 7.0, 6.0],
 [3.4, 7.0, 7.0],
 [5.5, 6.6, 8.0],
 [6.0, 10.0, 9.5],
 'João',
 'Maria',
 'José',
 'Cláudia',
 'Ana']

In [42]:
# listas de tuplas

from random import randint

estudantes = ["João", "Maria", "José", "Cláudia", "Ana"]

def gera_codigo():
  return str(randint(0,999))

In [47]:
codigo_estudantes = []

for i in range(len( estudantes )):
    codigo_estudantes.append( (estudantes[i], estudantes[i][0] + gera_codigo()) )

codigo_estudantes

[('João', 'J398'),
 ('Maria', 'M347'),
 ('José', 'J915'),
 ('Cláudia', 'C290'),
 ('Ana', 'A378')]

# List comprehension
é uma forma simples e concisa de criar uma lista. Podemos aplicar condicionais para crirar diversos tipos que desejamos para a nossa strutura de dados

### Formato padrão:
[ expressão for item in lista]

In [1]:
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]

def media(lista: list=[0]) -> float:
  ''' Função para calcular a média de notas passadas por uma lista

  lista: list, default [0]
    Lista com as notas para calcular a média
  return = calculo: float
    Média calculada
  '''
  
  calculo = sum(lista) / len(lista)

  return calculo

In [5]:
medias = [ round( media(nota), 1 ) for nota in notas ]
medias

[9.0, 7.3, 5.8, 6.7, 8.5]

In [17]:
medias = [9.0, 7.3, 5.8, 6.7, 8.5]
nomes = [('João', 'J398'), ('Maria', 'M347'), ('José', 'J915'), ('Cláudia', 'C290'), ('Ana', 'A378')]

In [19]:
# Gerando a lista de nomes (extraindo da tupla)
nomes = [ nome[0] for nome in nomes ]
nomes

['João', 'Maria', 'José', 'Cláudia', 'Ana']

### Dica:
Para conseguirmos parear as média e nomes facilmente, podemos recorrer a mais uma built-in function ---> zip()

Ela recebe um ou mais iteráveis (listas, strings, tuplas, dicionários, etc) e retorna-os com um iterator de tuplas onde cada elemento dos iteráveis são pareados

In [23]:
estudantes = zip( nomes, medias )
estudantes # para ler um zip precisamos transformá-lo em uma lista

In [24]:
estudantes = list(zip( nomes, medias ))
estudantes

[('João', 9.0), ('Maria', 7.3), ('José', 5.8), ('Cláudia', 6.7), ('Ana', 8.5)]

In [27]:
# Gerando lista de pessoas candidatas a bolsa
candidatos = [ estudante[0] for estudante in estudantes if estudante[1] >= 8 ]
candidatos

['João', 'Ana']

In [28]:
id = [1, 2, 3, 4, 5]
regiao = ["Norte", "Nordeste", "Sudeste", "Centro-Oeste", "Sul"]

mapa = list(zip(id, regiao))
mapa

[(1, 'Norte'),
 (2, 'Nordeste'),
 (3, 'Sudeste'),
 (4, 'Centro-Oeste'),
 (5, 'Sul')]

In [29]:
codigos = ["1000", "1001", "1002", "1003", "1004", "1005"]
frutas = ["maçã", "uva", "banana", "laranja"]

mercadorias = list(zip(codigos, frutas))
mercadorias

[('1000', 'maçã'), ('1001', 'uva'), ('1002', 'banana'), ('1003', 'laranja')]

In [30]:
"""
Para fazer o processo contrário, de transformar uma tupla iterável em listas, 
basta passar o operador asterisco (*) ao lado esquerdo do nome da tupla iterável que 
quer extrair os dados, repassando cada tupla para uma variável.
"""
tupla_iteravel = [('J392', 'João'), ('M890', 'Maria'), ('J681', 'José'), ('C325', 'Claúdia'), ('A49', 'Ana')]
ids, nomes  = zip(*tupla_iteravel)

ids = list(ids)
nomes = list(nomes)

print("IDs = ", ids)
print("Nomes = ", nomes)

IDs =  ['J392', 'M890', 'J681', 'C325', 'A49']
Nomes =  ['João', 'Maria', 'José', 'Claúdia', 'Ana']

Criar uma lista da situação dos estudantes em que caso sua média seja maior ou igual a 6 receberá o valor "Aprovado" e caso contrário receberá o valor "Reprovado".

Gerar uma lista de listas com:

Lista de tuplas com o nome dos estudantes e seus códigos.

Lista de listas com as notas de cada estudante.

Lista com as médias de cada estudante.

Lista da situação dos estudantes de acordo com as médias.

Os dados que utilizaremos são os mesmos que geramos nas situações anteriores (nomes, notas, medias).

Vamos resolver esse desafio?

In [31]:
nomes = [('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')]
notas = [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]]
medias = [9.0, 7.3, 5.8, 6.7, 8.5]

In [34]:
# situacao = [ resultado1 if condicao else resultado2 for item in lista ]
situacao = [ 'Aprovado' if mediar >= 7 else 'Reprovado' for mediar in medias ]
situacao

['Aprovado', 'Aprovado', 'Reprovado', 'Reprovado', 'Aprovado']

In [36]:
# cadastro = [ expressao for item in lista de listas ]
cadastro = [ x for x in [ nomes, notas, medias, situacao ]]
cadastro

[[('João', 'J720'),
  ('Maria', 'M205'),
  ('José', 'J371'),
  ('Cláudia', 'C546'),
  ('Ana', 'A347')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado', 'Aprovado', 'Reprovado', 'Reprovado', 'Aprovado']]

In [37]:
### ou
lista_completa = [ nomes, notas, medias, situacao ]
lista_completa

[[('João', 'J720'),
  ('Maria', 'M205'),
  ('José', 'J371'),
  ('Cláudia', 'C546'),
  ('Ana', 'A347')],
 [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 [9.0, 7.3, 5.8, 6.7, 8.5],
 ['Aprovado', 'Aprovado', 'Reprovado', 'Reprovado', 'Aprovado']]

In [38]:
alturas = [1.70, 1.80, 1.65, 1.75, 1.90]
pesos = [65, 80, 58, 70, 95]

imc = [round((peso / altura**2), 1) for altura, peso in zip(alturas, pesos)]
print(imc)

[22.5, 24.7, 21.3, 22.9, 26.3]

# Dict Comprehension

É uma forma simples e concisa de modificar um dicionário. 

formato:
{ chave: valor for item in lista }

In [39]:
lista_completa = [[('João', 'J720'), ('Maria', 'M205'), ('José', 'J371'), ('Cláudia', 'C546'), ('Ana', 'A347')],
                  [[8.0, 9.0, 10.0], [9.0, 7.0, 6.0], [3.4, 7.0, 7.0], [5.5, 6.6, 8.0], [6.0, 10.0, 9.5]],
                  [9.0, 7.3, 5.8, 6.7, 8.5],
                  ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']]

In [43]:
# colunas com os tipos de dados (exceto nome)
coluna = [ "Notas", "Média Final", "Situação" ]

cadastro = { coluna[i]: lista_completa[i+1] for i in range(len( coluna )) }
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Média Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado']}

In [54]:
# agora vamos colocar o nome dos estudantes apenas
cadastro["Estudante"] = [ lista_completa[0][i][0] for i in range(len( lista_completa[0] )) ]
cadastro

{'Notas': [[8.0, 9.0, 10.0],
  [9.0, 7.0, 6.0],
  [3.4, 7.0, 7.0],
  [5.5, 6.6, 8.0],
  [6.0, 10.0, 9.5]],
 'Média Final': [9.0, 7.3, 5.8, 6.7, 8.5],
 'Situação': ['Aprovado', 'Aprovado', 'Reprovado', 'Aprovado', 'Aprovado'],
 'Estudante': ['João', 'Maria', 'José', 'Cláudia', 'Ana']}

In [55]:
nomes_estudantes = [ "Enrico Monteiro", "Luna Pereira", "Anthony Silveira", "Letícia Fernandes", 
                    "João Vitor Nascimento", "Maysa Caldeira", "Diana Carvalho", "Mariane da Rosa",
                    "Camila Fernandes", "Levi Alves", "Nicolas da Rocha", "Amanda Novaes", 
                    "Laís Moraes", "Letícia Oliveira", "Lucca Novaes", "Lara Cunha", 
                    "Beatriz Martins", "João Vitor Azevedo", "Stephany Rosa", "Gustavo Henrique Lima" ]

medias_estudantes = [5.4, 4.1, 9.1, 5.3, 6.9, 3.1, 10.0, 5.0, 8.2, 5.5,
                    8.1, 7.4, 5.0, 3.7, 8.1, 6.2, 6.1, 5.6, 6.7, 8.2]

bolsistas = {nome: media 
             for nome, media in zip(nomes_estudantes, medias_estudantes) 
             if media >= 9.0}
bolsistas

{'Anthony Silveira': 9.1, 'Diana Carvalho': 10.0}

## Exercícios

In [60]:
# 1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for lista in lista_de_listas:
    print(sum( lista ))

24
10
16

In [68]:
# 2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na 
# seguinte lista de tuplas:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

idade = [ lista_de_tuplas[i][2] for i in range(len( lista_de_tuplas )) ]
idade

[81, 67, 83]

In [69]:
nomes = [ lista_de_tuplas[i][0] for i in range(len( lista_de_tuplas )) ]
nomes

['Pedro', 'Júlia', 'Otávio']

In [71]:
altura = [ lista_de_tuplas[i][1] for i in range(len( lista_de_tuplas )) ]
altura

[1.74, 1.65, 1.81]

In [74]:
#3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma 
# lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original 
# e o segundo elemento sendo o próprio nome.

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_de_tuplas = []
for i in range(len(lista)):
    lista_de_tuplas.append((i, lista[i]))
print(lista_de_tuplas)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [89]:
#4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla
#caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

valores = [ tupla[1] for tupla in aluguel if tupla[0] == 'Apartamento' ]
print( valores )

[1700, 1400, 1900]

In [93]:
#5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista 
# meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] 
# e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesas = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

column = { mes : despesa for mes, despesa in zip( meses, despesas ) }
column

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [105]:
#6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano
# e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000.
# A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que
# você ajude a realizar a filtragem dos dados a partir de um código:

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), 
          ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), 
          ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), 
          ('2022', 5616)]

filtro = { vendas[i] for i in range(len( vendas )) if vendas[i][1] > 6000 and vendas[i][0] == '2022' }
filtro

{('2022', 7688), ('2022', 8190), ('2022', 8883), ('2022', 9544)}

In [114]:
"""
7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e 
   gostaria de rotular os dados da seguinte maneira:

    Glicose igual ou inferior a 70: 'Hipoglicemia'
    Glicose entre 70 a 99: 'Normal'
    Glicose entre 100 e 125: 'Alterada'
    Glicose superior a 125: 'Diabetes'
    
A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension
contendo o rótulo e o valor da glicemia em cada tupla.
"""

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
coluna = [ "Glicose igual ou inferior a 70", "Glicose entre 70 a 99", 
           "Glicose entre 100 e 125", "Glicose superior a 125" ]

rotulos = [( 'Glicose igual ou inferior a 70', glicose) if glicose <= 70 else ('Glicose entre 70 a 99', glicose) \
             if glicose < 100 else ('Glicose entre 100 e 125', glicose) if glicose < 125 else \
             ('Glicose superior a 125', glicose) for glicose in glicemia]
print(rotulos)

[('Glicose superior a 125', 129), ('Glicose entre 70 a 99', 82), ('Glicose igual ou inferior a 70', 60), ('Glicose entre 70 a 99', 97), ('Glicose entre 100 e 125', 101), ('Glicose igual ou inferior a 70', 65), ('Glicose igual ou inferior a 70', 62), ('Glicose superior a 125', 167), ('Glicose entre 70 a 99', 87), ('Glicose igual ou inferior a 70', 53), ('Glicose igual ou inferior a 70', 58), ('Glicose entre 70 a 99', 92), ('Glicose igual ou inferior a 70', 66), ('Glicose entre 100 e 125', 120), ('Glicose entre 100 e 125', 109), ('Glicose igual ou inferior a 70', 62), ('Glicose entre 70 a 99', 86), ('Glicose entre 70 a 99', 96), ('Glicose entre 100 e 125', 103), ('Glicose entre 70 a 99', 88), ('Glicose superior a 125', 155), ('Glicose igual ou inferior a 70', 52), ('Glicose entre 70 a 99', 89), ('Glicose entre 70 a 99', 73)]

In [57]:
#8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos 
# seguintes listas:
# O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, 
# que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um 
# cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.
# Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual 
# a primeira tupla é o cabeçalho da tabela.

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
valor_total = [ ( preco[i] * quantidade[i] ) for i in range(len(quantidade)) ]

colunas = [ "id", "quantidade", "preco_unit", "valor total" ]#???????

tabela = [tuple(colunas[i] for i in range(len( colunas ))) , [( id,quantidade, preco, valor_total) for id, quantidade, preco, valor_total in zip( id, quantidade, preco, valor_total) ]]
tabela
#= { mes : despesa for mes, despesa in zip( meses, despesas ) }

[('id', 'quantidade', 'preco_unit', 'valor total'),
 [(0, 15, 93.0, 1395.0),
  (1, 12, 102.0, 1224.0),
  (2, 1, 18.0, 18.0),
  (3, 15, 41.0, 615.0),
  (4, 2, 122.0, 244.0),
  (5, 11, 14.0, 154.0),
  (6, 2, 71.0, 142.0),
  (7, 12, 48.0, 576.0),
  (8, 2, 14.0, 28.0),
  (9, 4, 144.0, 576.0)]]

In [111]:
#9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de
# cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence
#A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo
# novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.
#A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave 
# sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista

estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
qtd_filiais = [ estados.count( 'RJ' ), estados.count( 'MG' ), estados.count( 'ES' ), estados.count( 'SP' ) ] 
new_estados = list(set( estados ))
# new_estados
# 8, 6, 7, 2
dicionario = { new_estados[i]: qtd_filiais[i] for i in range(len( new_estados )) }
dicionario 


# RESOLUÇÃO DO INSTRUTOR:

# Armazenando os estados sem repetição de valor
#estados_unicos = list(set(estados))

# Criando uma lista de listas com valores repetidos de cada estado
#lista_de_listas = []
#for estado in estados_unicos:
#    lista = [uf for uf in estados if uf == estado]
#    lista_de_listas.append(lista)
#print(lista_de_listas)

# Criando um dicionário em que a chave é o nome de cada estado único e o valor é a contagem de elementos
#contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
#print(contagem_valores)

{'RJ': 2, 'MG': 7, 'ES': 6, 'SP': 8}